.navbar {
  background-color: #282c34;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 60px;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
}

.link {
  color: #fafafa;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
}

.link:hover {
  color: #61dafb;
}
